<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Caret</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid" style="margin-top:20px">
        <div class="sidebar">
            <div class="well">
                {% block sidebar %}
                {% endblock %} 
            </div>
        </div>

        <div class="content">
           {% block main %}
           {% endblock %}  
        </div>        
    </div><!-- end container -->
</body>
</html>
