<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }} | Caret CMS</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="{{ config.root }}public/css/style.css">
</head>
<body>
     <div class="container">
      <div class="content">
        <div class="page-header">
            <h1>
                <a href="{{ site.root }}">
                Caret
                </a>
            </h1>
            <p>
                {% get_from index %}
                    {{ get.tagline | markdown }}
                {% endget_from %}
            </p>
        </div>
        
        <div class="row">
          <div class="span10">
            {% block main %}
            {% endblock %}
          </div>
          <div class="span4">
            <h3>Contents</h3>
            <ul>
                <li><a href="{{ config.root }}">Home</a></li>
                <li><a href="{{ config.root }}docs">Getting started</a></li>
                <li><a href="{{ config.root }}docs/tags">Fork on Github</a></li>
            </ul>
          </div>
        </div>
        
      </div>

      <footer>
        <p><strong>Powered by Caret</strong>.</p>
      </footer>

    </div> <!-- /container -->
</body>
</html>
